.background {

  background: linear-gradient(
  180deg
  ,#042757,#104a96);

}

.footer {
  font-family: Montserrat,sans-serif;
  font-weight: 700;
}

.white {
  color: #fff;
}

.orange {
  color: #ff5422;
}