.background {
  height: 20vh;

  background: linear-gradient(
  180deg
  ,#042757,#104a96);

}

.footer {
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  padding: 8px;
  margin: 0px;
}

.white {
  color: #fff;
}

.orange {
  color: #ff5422;
}