.background {
  background: linear-gradient(180deg,#042757,#104a96);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  padding: 2vw;
}

.white {
  color: #fff;
}

.orange {
  color: #ff5422;
}

.small {
  font-weight: 200;
}