.App {
  display: flex; 
  flex-direction: column;
  height: auto;
}

.weather-forecast {
  display:flex;
  justify-content: space-evenly;
  background-image: linear-gradient(180deg,#fff, #9fc8fa);
}

.forecast {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}
